---
interface Props {
	message: string;
}

const { message, items } = Astro.props;


---

<div class="carousel-container">
  <div class="carousel swiper-container" id="carousel">

    <div class="items swiper-wrapper" id="items">
    { items.map((item)=>( 

      <div class="item swiper-slide">
        <img src={item} />
      </div>
    )) }
    </div>

  </div>
</div>

<style>

.carousel-container
{
  border-top:1px solid var(--border-color);
  border-bottom:1px solid var(--border-color);
  padding:5rem 5rem;
}

.item img
{ 
	pointer-events: none;
	width:100%;
	height: auto;
}


</style>

<script>
  import Swiper from 'swiper';
  import 'swiper/swiper-bundle.css';

  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
      // Your Swiper options here
      loop: true,
      pagination: false,
      slidesPerView: 1,
      spaceBetween: 40,
      grabCursor: true,
      freeMode: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
    });
  });

  

</script>