<header>
    <a href="/">
    <div class="logo">
      <svg id="b" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" width="250.812" height="19.111" viewBox="0 0 250.812 19.111">
        <g id="c" data-name="Layer 1">
          <g id="d" data-name="c">
            <path d="M20.71.282c2.89.533,4.294,2.019,4.687,5.023.112.757.17,2.273.17,4.546,0,4.518-.478,6.343-2.077,7.661-1.123.954-2.694,1.402-5.417,1.514-1.01.056-3.507.084-5.332.084-4.461,0-6.735-.084-7.857-.309-2.077-.366-3.283-1.15-3.985-2.526-.731-1.374-.897-2.75-.897-6.848,0-3.143.056-3.929.393-5.191.534-1.991,1.628-3.057,3.733-3.675C5.696.114,7.409.001,12.349.001,17.737.001,19.393.058,20.711.282h-.001ZM6.735,5.249c-.757.589-.983,1.514-.983,4.208,0,2.751.224,3.761.927,4.35.757.617,1.684.729,5.978.729,4.911,0,5.921-.168,6.566-1.066.533-.675.675-1.628.675-4.126,0-4.715-.084-4.769-7.1-4.769-4.182,0-5.332.139-6.062.673ZM30.073.198h16.135c3.312,0,4.771.28,5.837,1.178,1.094.871,1.6,2.47,1.6,4.997,0,3.479-.841,4.855-3.227,5.388,2.328.391,3.03,1.374,2.974,4.208v2.946h-5.78v-2.329c-.028-2.019-.589-2.441-3.144-2.385h-8.727v4.715h-5.67V.198h.001ZM44.637,9.627c2.75,0,3.283-.337,3.283-2.189,0-1.206-.114-1.711-.478-2.105-.421-.449-.897-.533-2.61-.533h-9.093v4.827h8.898ZM58.263.198h5.696v18.718h-5.696V.198ZM89.165.282c2.89.533,4.294,2.019,4.687,5.023.112.757.17,2.273.17,4.546,0,4.518-.478,6.343-2.077,7.661-1.123.954-2.694,1.402-5.417,1.514-1.01.056-3.507.084-5.332.084-4.461,0-6.735-.084-7.857-.309-2.077-.366-3.283-1.15-3.985-2.526-.731-1.374-.897-2.75-.897-6.848,0-3.143.056-3.929.393-5.191.533-1.993,1.628-3.058,3.733-3.677,1.571-.449,3.283-.561,8.223-.561,5.388,0,7.044.056,8.362.28h-.001ZM75.19,5.249c-.757.589-.983,1.514-.983,4.208,0,2.751.224,3.761.927,4.35.757.617,1.684.729,5.978.729,4.911,0,5.921-.168,6.566-1.066.533-.675.675-1.628.675-4.126,0-4.715-.084-4.769-7.1-4.769-4.182,0-5.332.139-6.062.673ZM98.528.198h9.065l11.336,14.228-.14-14.228h5.388v18.718h-9.147l-11.17-14.086.14,14.086h-5.472V.198ZM143.285.198h5.696v14.086h12.88v4.631h-18.577V.198ZM174.756.198h7.633l10.243,18.718h-6.231l-1.853-3.339h-12.067l-1.796,3.339h-6.454L174.756.198ZM182.557,11.676l-4.042-7.465-3.985,7.465h8.027ZM195.257.198h9.065l11.336,14.228-.14-14.228h5.388v18.718h-9.147l-11.17-14.086.14,14.086h-5.472V.198h0ZM225.777.198h16.165c3.956,0,5.808.449,7.1,1.74,1.039,1.01,1.46,2.189,1.656,4.573.058.871.114,2.161.114,3.06,0,1.683-.114,3.619-.28,4.687-.309,2.245-1.881,3.985-3.929,4.377-1.066.224-1.909.28-3.9.28h-16.922V.198h-.003ZM241.015,14.454c1.544,0,1.656,0,2.329-.224,1.376-.421,1.74-1.402,1.74-4.631,0-3.928-.675-4.743-3.956-4.743h-9.654v9.598h9.542-.002Z" fill="#fff" stroke-width="0"/>
          </g>
        </g>
      </svg>
    </div>
    </a>
    <label class="switch" for="themeToggle">
        <input type="checkbox" id="themeToggle">
        <span class="slider round"></span>
    </label>
</header>

<style>


header
{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: fixed;
    /* height: 25px; */
    padding:3rem 5rem;
    width:100%;
    z-index: 999;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 90%);  

    color: hwb(231 85% 9%);
}

html.light header
{
  background: linear-gradient(0deg, rgba(217,219,231,0) 0%, rgba(217,219,231,0.8) 90%);  
}

.logo
{
  color:var(--foreground-color);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e3038;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #595c68;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b4b7c6;
}

input:checked + .slider:before {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<script>
  //   const theme = (() => {
  //   if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
  //     return localStorage.getItem('theme');
  //   }
  //     return 'dark';
  // })();

  // if (theme === 'light') {
  //   document.documentElement.classList.remove('dark');
  // } else {
  //   document.documentElement.classList.add('dark');
  // }

  // window.localStorage.setItem('theme', theme);

  // const handleToggleClick = () => {
  //   const element = document.documentElement;
  //   element.classList.toggle("dark");

  //   const isDark = element.classList.contains("dark");
  //   localStorage.setItem("theme", isDark ? "dark" : "light");
  // }

  // document.getElementById("themeToggle").addEventListener("click", handleToggleClick);

  const checkbox = document.getElementById("themeToggle");

  checkbox.addEventListener('change', function() {

    if(this.checked && typeof localStorage !== 'undefined' && localStorage.getItem('theme') != "light")
    {
      localStorage.setItem("theme", "light");
      document.documentElement.classList.add('light');
    }
    else
    {
      localStorage.setItem("theme", "dark");
      document.documentElement.classList.remove('light');
    }

  });

  if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
    if(localStorage.getItem('theme') === "light")
    {
      document.documentElement.classList.add('light');
      checkbox.checked = true;
    }
    else
    {
      document.documentElement.classList.remove('light');
      checkbox.checked = false;
    }
  }
</script>