<div class="hero-grid" id="hero">
    <div class="inner">
        <h1 class="animated" data-splitting>Make no little plans</h1>
        <div class="scroll-down-prompt">
            <svg id="b" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" width="49.497" height="78.49" viewBox="0 0 49.497 78.49">
                <g id="c" data-name="Layer 1">
                    <g id="d" data-name="c">
                    <polygon points="46.669 50.913 26.749 70.833 26.749 0 22.749 0 22.749 70.833 2.828 50.913 0 53.741 21.92 75.661 24.749 78.49 27.577 75.661 49.497 53.741 46.669 50.913" fill="#000" stroke-width="0"/>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="snapshot" id="snapshot">
        <div class="imageMask">
            <img alt="Orion Land" />
        </div>
    </div>
</div>

<style>
	@keyframes arrowUp {
		from { transform: translate3d(-50%, 100%, 0); }
		to { transform: translate3d(-50%, 0, 0); }
	}
	.hero-grid
	{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding:4rem var(--outside-padding);
		box-sizing: border-box;
		width:100%;
		height: calc(100vh);
        overflow:hidden;
	}
    .hero-grid h1
    {
        user-select: none;
        text-align: center;
    }
	.hero-grid .inner
	{
		display: flex;
		flex-direction: column;
		gap:20px;
		max-width: 150ch;
	}
	.hero-grid .scroll-down-prompt
	{
		animation-name: arrowUp;
  		animation-duration: 1s;
		animation-fill-mode: forwards;
		position: absolute;
		left:50%;
		bottom:0;
		transform: translate3d(-50%, 100%, 0);
		height:150px;
		width: 100px;
	}
    .hero-grid .scroll-down-prompt polygon
    {
        fill: var(--foreground-color);
    }
    .hero-grid .snapshot
    {
        opacity:0;
    }
    .hero-grid.hover .snapshot
    {
        opacity:1;
    }
    .snapshot
    {
        transition: opacity 0.5s ease-in-out;
        will-change: transform opacity;
        position: absolute;
        top:0;
        left:0;
        width:0;
        height: 0;
        background-color: var(--border-color);
        z-index:-1;
        overflow: visible;
        opacity: 0.7;
    }
    .snapshot .imageMask
    {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate3d(-50%, -50%, 0);
        will-change: height, width;
        transition: width .3s ease-in, height .3s ease-in-out;
        height: 0;
        width: 0;
        overflow: hidden;
    }
    .snapshot .imageMask img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<script>

const snapshot = document.getElementById("snapshot");
const snapshotImg = snapshot.querySelectorAll('img')[0];
const imageMask = snapshot.querySelectorAll('.imageMask')[0];
console.log(imageMask);

const hero = document.getElementById("hero");

hero.addEventListener("mouseover", function(event){
    this.classList.add("hover");
})

hero.addEventListener("mouseout", function(event){
    this.classList.remove("hover");
})

console.log("hello")

document.addEventListener("mousemove", myFunction);
document.addEventListener("scroll", myFunction);

function myFunction(event)
{

    let rect = snapshot.getBoundingClientRect();
    snapshot.style.transform = "translate(" + event.pageX + "px, " + event.pageY + "px)";

    if(event.pageX < (window.screen.width * 0.25))
    {
        let image = imagesArray[0];
        snapshotImg.src = image.src;
        snapshotImg.width = image.w;
        snapshotImg.height = image.h;
        // 

        imageMask.style.width = image.w + "px";
        imageMask.style.height = image.h + "px";
    } 
    else if(event.pageX < (window.screen.width * 0.5))
    {
        let image = imagesArray[1];
        snapshotImg.src = image.src;
        snapshotImg.width = image.w;
        snapshotImg.height = image.h;
        // 

        imageMask.style.width = image.w + "px";
        imageMask.style.height = image.h + "px";
    }
    else if(event.pageX > (window.screen.width * 0.75))
    {
        let image = imagesArray[3];
        snapshotImg.src = image.src;
        snapshotImg.width = image.w;
        snapshotImg.height = image.h;
        // 

        imageMask.style.width = image.w + "px";
        imageMask.style.height = image.h + "px";
    }
    else if(event.pageX > (window.screen.width * 0.5))
    {
        let image = imagesArray[2];
        snapshotImg.src = image.src;
        snapshotImg.width = image.w;
        snapshotImg.height = image.h;
        // 

        imageMask.style.width = image.w + "px";
        imageMask.style.height = image.h + "px";
    }
}

const imagesArray = [
    { "src": "/img/image-1.jpg", "w": "450", "h": "300" },
    { "src": "/img/image-2.jpg", "w": "360", "h": "482" },
    { "src": "/img/image-3.jpg", "w": "280", "h": "260" },
    { "src": "/img/image-4.jpg", "w": "450", "h": "300" },
]
</script>