---
interface Props {
    image: string;
}

const { image } = Astro.props;

const styleValue = `background-image:url('${image}');`;

---
<div class="image-feature" id="paralaxx" style={styleValue}>
    <div class="sticky-wrapper">
        <div class="sticky">
            <h2>Reimagining and lifting communities.<br/> Creating inspiring new neighbourhoods with lasting legacy.</h2>
            <p>In partnership with leading developers, financial institutions, and local authorities we are trusted to deliver large-scale, complex regeneration projects – working with local communities to imagine new neighbourhoods and leave a legacy for future generations to enjoy.</p>
        </div>
    </div>
</div>

<style>
.image-feature
{
    /* position: relative;
    background-color: #000;
    color:#FFF;
    height: 100vh;
    width: 100%;
    overflow: clip;
    background-position: 50% 0%; */
    position: relative;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: clip;
    background-position: center top;
    width:100%;
    height: 100vh;
    min-height: 650px;
    box-sizing: border-box;
    color:#FFF;
    padding:5rem;
}
.image-feature::before
{
    content:"";
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.image-feature .sticky-wrapper
{
    position: relative;
    z-index: 99;
    width: 100%;
    max-width: 675px;
}
</style>

<script>

    import { gsap } from "gsap";
        
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.to("#paralaxx", {
        backgroundPosition: "50% 100%",
        ease: "none",
        scrollTrigger: {
            trigger: "#paralax",
            start: "top bottom", // Start when bottom of the trigger enters the bottom of the viewport
            end: "bottom center", // End when bottom of the trigger aligns with the top of the viewport
            scrub: true
        }
    });

</script>
