---
import TeamMember from "./TeamMember.astro"
---
<div class="our-founders" id="founders">
    <div class="module-content">
        <h2>Our Founders</h2>
    </div>
    <div class="team">
    <TeamMember name="Richard Olsen" title="Partner and Chief Executive" headshot="/img/headshot-richard.png">
        With 30 years' experience in the property industry Richard combines detailed market knowledge with an entrepreneurial drive and an adventurous spirit giving him a well-proven ability to find the solution to even the most intractable property problems. His approach to business is simple: think of the future; be tenacious; pay meticulous attention to design and planning; deliver on time; always act with integrity.
    </TeamMember>
    <TeamMember name="Jean Woolley" title="Partner" headshot="/img/headshot-jean.png">
        Jean has a wealth of experience at the highest political and corporate level, and has been Richard's business partner for over 20 years, since they worked on delivering the Royal Opera House and the Cardiff International Sports Village. Overseeing communication with all stakeholders and public engagement with local communities, Jean ensures their vision, creativity and ambition is balanced with pragmatism.
    </TeamMember>
    <TeamMember name="Ben King" title="Partner and Director" headshot="/img/headshot.jpg">
        Having gained a degree in Real Estate Management, Ben spent the early part of his career working as Land Director for Heronsbrook Homes. In 2006 Ben was appointed Group Land Director of the Wooldridge Group, responsible for operations and strategic growth of the business and remained in the role until 2019. With over twenty years' experience in the land and development industry helping to build two successful companies, in 2020 Ben decided to form his own company, King Charles Homes.
    </TeamMember>
    <TeamMember name="Mick Betteridge" title="Special Advisor" headshot="/img/headshot.jpg">
        Since retiring from a full military career, Mick has run his own property rental business, was the Field Operations Manager for a major logistics support company which included setting up a field hospital for an oil and gas company in Uganda, and as Operations and Technical Director in the security and risk management sector he safely evacuated clients from a rapidly declining state in Libya. Mick also served as the CEO of a military charity, where he re-structured the fundraising and welfare delivery to wounded, injured, sick and those in need. Mick joined Orion Land from the major US Build to Rent specialist, Cortland, based in London, where he was the Chief of Staff and Head of UK Operations.
    </TeamMember>
    </div>
</div>

<style>
    .our-founders
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .module-content
    {
        border-right: 1px solid var(--border-color);
    }
    .module-content
    {
        display: grid;
        padding:3rem 5rem;
        grid-row-gap:3rem;
    }
</style>

<script>

    import { gsap } from "gsap";
        
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    var elements = gsap.utils.toArray(".team-member");

    elements.forEach(element => {
        gsap.set(element, { opacity: 0, x: +50 }); // Initial state

        gsap.to(element, {
            opacity: 1,
            x: 0,
            duration: 1,
            stagger: {
                // wrap advanced options in an object
                each: 0.1,
                ease: "power2.inOut",
            },
            scrollTrigger: {
                trigger: element,
                start: "top 90%", // Adjust as needed
                toggleActions: "play none none none",
            },
        });
    });
</script>