---
const allPosts = await Astro.glob('../pages/work/*.mdx');
---

<!-- { allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>) } -->



<div class="our-projects">
    <div class="module-content">
        <h2>Our Projects</h2>
    </div>
    <div class="projects" id="projects">

        { allPosts.map((post) =>

        <a class="block-link project-link" href={post.url}>
            <div class="project">
                <div class="project-featured-image">
                    <img src={post.frontmatter.thumbnail.url} alt="" />
                </div>
                <div class="project-info">
                    <h3>{ post.frontmatter.title }</h3>
                </div>
            </div>
        </a>

        )}
        
    </div>
</div>

<style>
    .projects
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        min-height: 650px;
        height: 70vh;
        gap:1px;
    }
    .project
    {
        height: 100%;
        display: flex;
        position: relative;
        overflow:hidden;
        min-height: 350px;
    }
    .project:hover img
    {
        opacity: 0.6;
        transform: scale(1.05);
    }
    .project-featured-image
    {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;        
        background-color: #000;
        width:100%;
        height:100%;
        
    }
    .project-featured-image img
    {
        transition: all 0.2s ease-in-out;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        object-fit:cover;
        pointer-events: none;
    }
    .project p
    {
        font-size:1.6rem;
        line-height: 2.5rem;
    }
    .project-info
    {
        position: absolute;
        bottom:0;
        padding:3rem 4rem;
        color:#FFF;
    }
    .module-content
    {
        padding:3rem 5rem;
    }
    h3
    {
        font-size: 2.5rem;
    }
    @media only screen and (max-width: 600px) {
        .projects
        {
            display: flex;
            flex-direction: column;
            height: auto;
        }
        
    }
</style>

<script>
    import { gsap } from "gsap";
        
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    ScrollTrigger.batch(".project-link", {
        onEnter: elements => {
            gsap.from(elements, {
                autoAlpha: 0,
                y: 60,
                stagger: 0.15,
                duration: 0.8,
            });
        },
    });
</script>