---

---
<div class="our-projects">
    <div class="module-content">
        <h2>Our Projects</h2>
    </div>
    <div class="projects">
        <div class="project">
            <div class="project-info">
                <h3>Cardiff International Sports Village</h3>
                <p>In 2004 Orion was appointed as Cardiff Council's master development partner for the regeneration of the 80 acre Cardiff Bay site. We regenerated the contaminated site delivering new road infrastructure, an award-winning 50m Commonwealth standard swimming pool and associated leisure, a new temporary arena for the Cardiff Ice Devils, a white water rafting centre and significant retail space as well as securing planning permission for 1,000 bay-side homes. Orion's involvement with the delivery of the site ceased in 2007.</p>
            </div>
        </div>
        <div class="project">
            <div class="project-info">
                <h3>Shepherds Bush Market</h3>
                <p>Working in co-operation with Hammersmith and Fulham Council and in partnership with Development Securities plc, Orion acquired Shepherds Bush Market from Transport for London.  Planning consent included 215 new homes, an extension to the Market for 60 new businesses and a new outreach centre for the charity Broadway St Mungo, including a new library and theatre.</p>
            </div>
        </div>
        <div class="project">
            <div class="project-info">
                <h3>Ascot Road, Watford</h3>
                <p>In partnership with the William Pears Group, Orion acquired the 4.4 acre Sun Printers industrial site in West Watford and achieved planning for a new community, including 489 homes, as well as cafes, shops, and space dedicated for community use. Orion and Cortland Partners, a US based build to rent operator, formed a partnership to deliver and operate the project.</p>
            </div>
        </div>
    </div>
</div>

<style>
    .projects
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        min-height: 650px;
        height: 70vh;
    }
    .project
    {
        position: relative;
        border:1px solid #2e3038;
    }
    .project p
    {
        font-size:1.6rem;
        line-height: 2.5rem;
    }
    .project-info
    {
        position: absolute;
        bottom:0;
        padding:3rem 4rem;
    }
    .module-content
    {
        padding:3rem 5rem;
    }
    h3
    {
        font-size: 2.5rem;
    }
</style>