---

---
<div class="text-row">
    <slot/>
</div>

<style is:global>
    .text-row
    {
        padding:var(--outside-padding);
        
    }
    .text-row p.big-text
    {
        max-width: 70ch;
        font-size: 36px;
        line-height: 1.5em;

    }
    .text-row p
    {
        max-width: 70ch;
        font-size: 18px;
        line-height: 1.5em;
    }
</style>