---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import ProjectHero from '../../components/ProjectHero.astro';
---

<Layout title="Sheperds Bush Market.">
	<main>
        <Header />
        <ProjectHero image="/img/work/shepherds-bush-market-01.jpg" />
		<div class="project-meta">
        	<h1 class="mega" data-splitting>Sheperds Bush Market</h1>
			<p></p>
		</div>
		<div class="" style="min-height: 2500px;"></div>
	</main>
	<footer>
		<div class="footer-columns">
			<div class="footer-column">
				TEL: +44(0)203 861 9455<br/>

				Enquire: contact us
				
				Address: Orion Land and Leisure LTD
				suite 6.08 16 berkeley street, london W1J 8DZ
			</div>
			<div class="footer-column">2</div>
			<div class="footer-column">3</div>
			<div class="footer-column">4</div>
		</div>
		<div class="logo">Orion Land</div>
	</footer>
</Layout>

<style>
.project-meta
{
	padding: 4rem 5rem;
}
</style>