---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body data-overlayscrollbars-initialize>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>


/* @import must be at top of file, otherwise CSS will not work */
/* @import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=0a99687b-3236-4ee2-aa03-be8babb50b15"); */


@import 'overlayscrollbars/overlayscrollbars.css';

@font-face {
  font-family: "EurostileNextExtendedBold";
  font-style: normal;
  font-stretch: expanded;
  font-display: swap;
  src: url('/fonts/EurostileNextExtendedBold_normal_expanded.woff2') format('woff2'), url('/fonts/EurostileNextExtendedBold_normal_expanded.woff') format('woff');
}

@font-face {
  font-family: "EurostileNextExtendedRegular";
  font-style: normal;
  font-stretch: expanded;
  font-display: swap;
  src: url('/fonts/EurostileNextExtendedRegular_normal_expanded.woff2') format('woff2'), url('/fonts/EurostileNextExtendedRegular_normal_expanded.woff') format('woff');
}

@keyframes slide-up {
	from { transform: translateY(125%); }
}

html
{
	--background-color: #18181a;
	--foreground-color: #FFF;
	--border-color: #2e3038;
	--outside-padding: clamp(20px, 4vw, 4rem);
	background-color: var(--background-color);
	color:var(--foreground-color);
	font-family: "EurostileNextExtendedRegular";
	font-size:62.5%;
	overflow-x: clip;
}

html.light
{
	--background-color: #e5e7ee;
	--foreground-color: #2d3451;
	--border-color: #d7dbe8;
	background-color: var(--background-color);
	color:var(--foreground-color);
}

html.light .logo-path
{
	fill: #000;
}

body
{
	font-family: "EurostileNextExtendedRegular";
	margin:0;
	font-size:1.6rem;
	min-height: 100svh;
}
main
{
	box-sizing: border-box;
	display: flex;
	flex:1;
	flex-direction: column;
	background-color: var(--background-color);
	color:var(--foreground-color);
	position: relative;
	margin-bottom: 350px;
	z-index:99;
	overflow: clip;
	min-height: 100svh;
	width: 100vw;
	box-shadow: 0 0px 50px rgba(0,0,0,0.2);
}

/* Heading */
h1 			
{ 
	max-width: 20ch;
	text-wrap: balance;
	/* font-size: 10rem; */
	font-size: clamp(4rem, 10vw, 10rem);
	line-height: 1em;
	text-align: center;
}
h1.animated	
{ 
	transition: transform 0.3s ease-in-out;
	transform: translateY(50px);
	visibility: hidden; 
}
h1.animated.inview
{
	transform: translateY(0);
}
h1.words 	{ visibility: visible; }

h2 			{ font-size: 2.4rem; }
h2.mega 	
{ 
	font-size: clamp(3rem, 8vw, 6rem);
}
.words .word 
{
    overflow: clip;
    overflow-clip-margin: 10px;
    display: inline-block;
}

h1.animated.inview .word .char {
    display: inline-block;
	transform: translateY(0%);
    transition: transform 1.2s cubic-bezier(0.485, 0.225, 0.085, 0.965);
    /* transition-fill-mode: both; */
    transition-delay: calc(.3s * (var(--word-index) / var(--word-total)));
/* 
    @keyframes slide-up {
        from { transform: translateY(125%); }
    } */
}

h1.words .word .char {
    display: inline-block;
	transform: translateY(125%);

}


.logo
{
	font-family: "EurostileNextExtendedBold";
	text-transform: uppercase;
	font-size: 2rem;
	color:#FFF;
}


.grid-tile 
{ 
	/* border:1px solid #3b4153; */
	border:1px solid #bca184;
	padding:20px;
	border-radius: 8px;
}

.hatch
{
	background-image: url('/img/hatch.png ');
}

</style>

<script>
	import Splitting from "splitting";

	import InView from "in-view";

	import { gsap } from "gsap";
    
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	import Lenis from '@studio-freight/lenis'
	
	gsap.registerPlugin(ScrollTrigger);

	// Headlines
	Splitting();

	// Scrollbars
	import { 
	OverlayScrollbars, 
	ScrollbarsHidingPlugin, 
	SizeObserverPlugin, 
	ClickScrollPlugin 
	} from 'overlayscrollbars';

	const osInstance = OverlayScrollbars(document.body, {});

	// Smooth scrolling 
	const lenis = new Lenis()

	lenis.on('scroll', (e) => {
	console.log(e)
	})

	lenis.on('scroll', ScrollTrigger.update)

	gsap.ticker.add((time)=>{
	lenis.raf(time * 1000)
	})

	gsap.ticker.lagSmoothing(0)

	// Inview
	InView('h1.animated').on('enter', el => { el.classList.add("inview") })

</script>